__pycache__/
*.pyc

# pytest
/.cache/
/.pytest_cache/

# setuptools
/build/
/dist/
.eggs

/docs/build

# VirtualEnv
/venv

# IntelliJ
*.iml
/.idea

# Custom
.DS_Store
dfir_iris_client.egg-info/
in_test/
dfir_iris_client/tests/traces/